In [2]:
from ds_utils.ds_preamble import *
from ds_utils.ds_plotting import *
from ds_utils.ds_helper import *

calling ds_preamble..
calling ds_helper...

# SEHH2239: find students' hash table values based on student ID

In [3]:
# SEHH2239 exam (2022-05-14 15:04:44)
def find_hash(data, n=7):
    table = []
    for x in data:
        table.append(x%n)
    return table

def find_location(data, n=7, return_num=True):
    # this implements linear probing
    # optionally, it can output a,b,c,d.., such that data[0] <=> a
    table = ['na']*n
    for x,c in zip(data, [chr(ord('a')+i) for i in range(n)]):
        counter = 0 
        while counter < n and table[(x+counter)%n] != 'na':
            counter+=1
        if counter == n:
            print(f"can't insert {x}")
        else:
            table[(x+counter)%n] = x if return_num else c
    return table

def get_numbers(sid):
    # sid = '11717030A'
    sid = '25555555A'

    # if sid = 20555755, then 
    # a = 5,5 (4th, 5th digits)
    # b = 5,7 (5th, 6th)
    # c = 7,5 
    # d = 5,5 (7th, 8th digits)
    # e = 5,5 (4th, 8th digits)

    # get the numbers from the given id
    res=[]
    for i in range(3, 8):
        temp = int(sid[i:i+2]) if i != 7 else int(sid[3]+sid[i])
        while temp in res:
            temp+=1
        res.append(temp)
    return res

# data = [2341, 4234, 2839, 22, 397, 3920]
# find_hash(data)
# find_hash([10,22,31,4,17])
find_location([10,22,31,4,17], return_num=False)
find_location([10,22,31,4,17])
# find_location_char([10,22,31,4,17])

path = r'/Users/whlin/Library/CloudStorage/OneDrive-HKUSTConnect/Academic/Notes of HKCC/HKCC Teaching/SEHH2239/AR/SEHH2239_all_stu.xlsx'

df = pd.read_excel(path)

df['vals'] = df['ID number'].apply(get_numbers)
df['remainder'] = df['vals'].apply(find_hash)
# df['location'] = df['vals'].apply(find_location)

# df['vals'].apply(find_location)

locations_num = pd.DataFrame(df['vals'].apply(find_location).to_list(), columns=[f'loc_{i}' for i in range(7)])
locations_num.head()

locations_char = pd.DataFrame(df['vals'].apply(find_location, return_num=False).to_list(), columns=[f'loc_c_{i}' for i in range(7)])
locations_char.head()


df = pd.concat([df, locations_num, locations_char], axis=1) # get the numeric value for each location
df

df.to_excel('myout.xlsx')

['na', 'b', 'na', 'a', 'c', 'd', 'e']

['na', 22, 'na', 10, 31, 4, 17]

   loc_0  loc_1  loc_2  loc_3 loc_4 loc_5  loc_6
0     56     57     58     59    na    na     55
1     56     57     58     59    na    na     55
2     56     57     58     59    na    na     55
3     56     57     58     59    na    na     55
4     56     57     58     59    na    na     55

  loc_c_0 loc_c_1 loc_c_2 loc_c_3 loc_c_4 loc_c_5 loc_c_6
0       b       c       d       e      na      na       a
1       b       c       d       e      na      na       a
2       b       c       d       e      na      na       a
3       b       c       d       e      na      na       a
4       b       c       d       e      na      na       a

,Fullname,ID number,Department,Email address,Group,vals,remainder,loc_0,loc_1,loc_2,...,loc_4,loc_5,loc_6,loc_c_0,loc_c_1,loc_c_2,loc_c_3,loc_c_4,loc_c_5,loc_c_6
0,AGUSTIN Earl Joshua Gonzales 嚴樹華,20187871A,8C112-IT,20187871A@common.cpce-polyu.edu.hk,202,"[55, 56, 57, 58, 59]","[6, 0, 1, 2, 3]",56,57,58,...,na,na,55,b,c,d,e,na,na,a
1,AU Chi Wai 歐志偉,19060647A,8C112-IT,19060647A@common.cpce-polyu.edu.hk,202,"[55, 56, 57, 58, 59]","[6, 0, 1, 2, 3]",56,57,58,...,na,na,55,b,c,d,e,na,na,a
2,AU Ho Cheung 區浩翔,20186978A,8C112-IT,20186978A@common.cpce-polyu.edu.hk,201,"[55, 56, 57, 58, 59]","[6, 0, 1, 2, 3]",56,57,58,...,na,na,55,b,c,d,e,na,na,a
3,AU Siu Keung 歐兆強,20189250A,8C112-IT,20189250A@common.cpce-polyu.edu.hk,203,"[55, 56, 57, 58, 59]","[6, 0, 1, 2, 3]",56,57,58,...,na,na,55,b,c,d,e,na,na,a
4,AU Wai Lun Andy 區偉麟,20062656A,8C112-IT,20062656A@common.cpce-polyu.edu.hk,201,"[55, 56, 57, 58, 59]","[6, 0, 1, 2, 3]",56,57,58,...,na,na,55,b,c,d,e,na,na,a
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
258,YUEN Wai Ching 袁偉程,20104824A,8C112-IT,20104824A@common.cpce-polyu.edu.hk,201,"[55, 56, 57, 58, 59]","[6, 0, 1, 2, 3]",56,57,58,...,na,na,55,b,c,d,e,na,na,a
259,YUK Chun Yin 郁竣賢,20208428A,8C112-IT,20208428A@common.cpce-polyu.edu.hk,203,"[55, 56, 57, 58, 59]","[6, 0, 1, 2, 3]",56,57,58,...,na,na,55,b,c,d,e,na,na,a
260,ZHENG Xiyu 鄭曦煜,20197471A,8C112-IT,20197471A@common.cpce-polyu.edu.hk,202,"[55, 56, 57, 58, 59]","[6, 0, 1, 2, 3]",56,57,58,...,na,na,55,b,c,d,e,na,na,a
261,ZHENG Ying Lam 鄭莹琳,20031110A,8C112-IT,20031110A@common.cpce-polyu.edu.hk,201,"[55, 56, 57, 58, 59]","[6, 0, 1, 2, 3]",56,57,58,...,na,na,55,b,c,d,e,na,na,a
262,ZHOU Yihe 周弋诃,20071862A,8C112-IT,20071862A@common.cpce-polyu.edu.hk,202,"[55, 56, 57, 58, 59]","[6, 0, 1, 2, 3]",56,57,58,...,na,na,55,b,c,d,e,na,na,a

# Chinese New Year wish generator

In [ ]:
names = ("tim, ricky, boss, peter, joe, sally").split(', ')
# print(names)

with open('CNY_wish.txt') as f:
    wishes = [wish.strip() for wish in f]

for i in range(100):
# for name in names:
    wish_combined = ', '.join(np.random.choice(wishes, size=np.random.randint(low=4,high=7,size=1), replace=False))
    # print(f'hello {name}, 祝你{wish_combined}!!')
    print(f'祝你{wish_combined}!!')