In [1]:
from ds_preamble import *

In [110]:
df1 = pd.DataFrame(np.random.randint(1,100, size=(100,10)))
df1.rename({0:'id'}, axis=1, inplace=True)

df2 = pd.DataFrame(np.random.randint(1,100, size=(100,10)))
df2.rename({0:'id'}, axis=1, inplace=True)

# df1
# df2
df1.merge(df2, on='id')



# pd.concat([df1.id,df2.id]).drop_duplicates().sort_values().reset_index(drop=True)

len(set(df1.id).union(set(df2.id)))

,id,1_x,2_x,3_x,4_x,5_x,6_x,7_x,8_x,9_x,1_y,2_y,3_y,4_y,5_y,6_y,7_y,8_y,9_y
0,63,45,59,70,86,39,36,16,25,14,29,21,75,26,28,46,97,52,95
1,63,22,62,66,99,69,97,17,74,58,29,21,75,26,28,46,97,52,95
2,63,70,97,11,38,44,64,79,76,38,29,21,75,26,28,46,97,52,95
3,85,92,54,28,35,51,21,25,72,90,15,71,66,6,84,82,96,22,51
4,85,87,34,82,94,68,1,22,19,95,15,71,66,6,84,82,96,22,51
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106,11,76,30,55,84,61,38,62,83,98,21,12,4,98,75,15,29,10,69
107,11,97,6,53,32,58,18,82,44,64,21,12,4,98,75,15,29,10,69
108,42,47,58,38,18,26,92,48,54,11,89,56,76,86,89,71,20,38,48
109,45,64,46,11,80,49,15,70,8,57,54,4,96,18,19,51,81,14,60
110,45,64,46,11,80,49,15,70,8,57,99,29,75,6,77,28,45,57,89

81

In [99]:
purchase=pd.DataFrame(dict(sid=[1,1,2,2,3,4,5,9], purchase=[10,20,2,3,1,2,4,44]))
students = pd.DataFrame(dict(sid=[1,2,3,4,5,6,7], age=[10,22,11,21,55,19,23]))
print(purchase)
print(students)
print(purchase.merge(students, on='sid', how='inner'))
print(purchase.merge(students, on='sid', how='outer'))
print(purchase.merge(students, on='sid', how='left'))
print(purchase.merge(students, on='sid', how='right'))

   sid  purchase
0    1        10
1    1        20
2    2         2
3    2         3
4    3         1
5    4         2
6    5         4
7    9        44
   sid  age
0    1   10
1    2   22
2    3   11
3    4   21
4    5   55
5    6   19
6    7   23
   sid  purchase  age
0    1        10   10
1    1        20   10
2    2         2   22
3    2         3   22
4    3         1   11
5    4         2   21
6    5         4   55
   sid  purchase   age
0    1      10.0  10.0
1    1      20.0  10.0
2    2       2.0  22.0
3    2       3.0  22.0
4    3       1.0  11.0
5    4       2.0  21.0
6    5       4.0  55.0
7    9      44.0   NaN
8    6       NaN  19.0
9    7       NaN  23.0
   sid  purchase   age
0    1        10  10.0
1    1        20  10.0
2    2         2  22.0
3    2         3  22.0
4    3         1  11.0
5    4         2  21.0
6    5         4  55.0
7    9        44   NaN
   sid  purchase  age
0    1      10.0   10
1    1      20.0   10
2    2       2.0   22
3    2       3.0   22
4    3       1.0   11
5    4       2.0   21
6    5       4.0   55
7    6       NaN   19
8    7       NaN   23